@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    user-select: none;
}

.main_text_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 300px;
    height: 300px;
    max-height: max-content;

}

.main_text_section h1 {
    font-weight: 800;
    font-size: 5rem;
    width: calc(100% - 55%);
    height: 100%;
}

.txt_btn {
    width: calc(100% - 40%);
    align-self: flex-start;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
    padding: 20px 0;
}

.txt_btn p {
    font-size: 2rem;
}

.txt_btn button {
    padding: 20px 40px;
    border: none;
    background-color: #000;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    letter-spacing: 0.2rem;
    transition: 300ms background-color ease-in-out;
}

.txt_btn button:hover {
    background-color: hsl(5, 85%, 63%);
}

nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    padding: 40px;
    position: relative;
}

ul {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    list-style: none;
}

li {
    margin: 0 10px;
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color: #000;
    transition: 300ms color ease-in-out;
}

a:hover {
    color: hsl(5, 85%, 63%);
}

.side_menu {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 70%;
    height: 100vh;
    background-color: #fff;
    padding: 20px;
    z-index: 9999;
    transition: 300ms all ease-in-out;
    transform: translateX(100%);
}

.side_menu img {
    position: absolute;
    right: 20px;
    cursor: pointer;
}

.side_menu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;

}

.side_menu li {
    margin: 20px;
    font-size: 2rem;

}

.opacity {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    transition: 300ms opacity ease-in-out;
    opacity: 0;
}

#hamburger {
    display: none;
}

main {
    padding: 0 55px;
}

.main_section {
    width: 65%;
    float: left;

}

.main_img img {
    object-fit: contain;
    width: 100%;
}

.main_img .mobile {
    display: none;
}

aside {
    width: 33%;
    height: 800px;
    float: right;
    background-color: hsl(240, 100%, 5%);
    padding: 30px;
    overflow: scroll;
}

aside::-webkit-scrollbar {
    display: none;
}

aside h1 {
    color: hsl(35, 77%, 62%);
    font-size: 5rem;
}

aside .aside_txt h1:hover {
    color: hsl(35, 77%, 62%);
}

.aside_txt {
    border-bottom: 2px solid hsl(233, 8%, 79%);
    padding: 10px 0;
    cursor: pointer;
}

.aside_txt:nth-last-child(1) {
    border-bottom: none;
}

.aside_txt h1 {
    color: hsl(36, 100%, 99%);
    font-size: 2.5rem;
    padding: 12px 0;
}

.aside_txt p {
    color: hsl(233, 8%, 79%);
    font-size: 1.8rem;
    padding: 10px 0;
    line-height: 2.5rem;
}

.section_article {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.section_article img {
    width: auto;
    object-fit: contain;
}

.article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 33%;
    padding: 10px;
    cursor: pointer;
}

.article_text {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    height: 255px;
    padding: 10px;
}

.article_text h2 {
    font-size: 3rem;
    color: hsl(233, 8%, 79%);
}

.article_text h1 {
    font-size: 1.8rem;
    color: hsl(240, 100%, 5%);
    transition: color 500ms ease-in-out;
}

.article:hover .article_text h1 {
    color: hsl(5, 85%, 63%);

}

.article_text p {
    color: hsl(236, 13%, 42%);
    font-size: 1.1rem;
}


@media screen and (max-width: 1200px) {
    .main_text_section {
        height: 100%;
    }

    .main_text_section h1 {
        font-size: 3rem;
        width: 100%;
    }

    .txt_btn {
        width: 100%;
        align-self: center;
    }

    .txt_btn p {
        font-size: 1.5rem;
    }

    .txt_btn button {
        padding: 10px 20px;
        margin: 15px 0 0 0;
        font-size: 1rem;
    }

    nav {
        padding: 20px;
    }

    main {
        padding: 0 20px;
    }

    .main_section {
        width: 100%;
        float: none;
    }

    .main_img .mobile {
        display: block;
    }

    .main_img .desktop {
        display: none;
    }

    aside {
        width: 100%;
        float: none;
        height: 100%;
    }

    aside h1 {
        font-size: 3rem;
    }

    .aside_txt h1 {
        font-size: 2rem;
    }

    .aside_txt p {
        font-size: 1.5rem;
    }

    .section_article {
        display: block;
    }

    .article {
        justify-content: flex-start;
        width: 100%;

    }

    .article_text h2 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 900px) {
    .main_text_section {
        display: block;
    }

    nav ul {
        display: none;
    }

    #hamburger {
        display: block;
        cursor: pointer;
    }

    .section_article img {
        width: 80px;
        object-fit: contain;
    }

    .article_text {
        height: auto;
    }
}

@media screen and (max-width: 600px) {

    nav {
        padding: 15px;
    }

    main {
        padding: 0 15px;
    }

    aside h1 {
        font-size: 2rem;
    }

    .aside_txt h1 {
        font-size: 1.3rem;
    }

    .aside_txt p {
        font-size: 1rem;
        line-height: normal;
    }

    .article {
        justify-content: flex-start;
        width: 100%;
        padding: 5px 0;
    }

    .article_text h2 {
        font-size: 1.5rem;
    }

    .article_text h1 {
        font-size: 1rem;
    }

    .article_text p {
        font-size: 0.8rem;
    }

    .side_menu li {
        font-size: 1.5rem;

    }
}
